@import "tailwindcss";

*{
  font-family: "Jost", sans-serif;
}

body{
  color: rgb(0, 0, 0);
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background: #6366f1;
  border-radius: 10px;
}