@import "tailwindcss";

*{
  font-family: "Jost", sans-serif;
}

body{
  background: #0f172a;
  color: white;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background: #6366f1;
  border-radius: 10px;
}